form {
  width: 70%;
  margin: 0 auto;
}

textarea {
  resize: none;
}

form label {
  font-size: 1.5rem;
}

input,
select,
textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 5px;
  border: none;
  outline-color: #fc5185;
  font-family: "Montserrat", sans-serif;
}

input[type="submit"] {
  width: initial;
  background-color: #fc5185;
  color: #eee;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 650ms;
}

input[type="submit"]:hover {
  color: #364f6b;
}
