.copyright {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  position: relative;
}

.up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  background-color: #eee;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 3s infinite;
  transition: position 0.001s;
  transition: opacity 1s;
  opacity: 0;
}

.up i {
  color: #364f6b;
  font-size: 2rem;
  margin: auto;
}

.copyright p {
  font-size: 1.5rem;
}
