.timeline {
  ul {
    border-left: 4px solid #ffe838;
    border-radius: 0.8rem;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    position: relative;
    padding: 3rem;
    list-style: none;
    text-align: left;
    width: 70%;
  }

  h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: 0.8;
  }

  h3 {
    margin-bottom: 1rem;
  }

  .date {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    position: relative;
    &::before,
    &::after {
      position: absolute;
      display: block;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      content: attr(data-date);
      left: -13rem;
      text-align: center;
      max-width: 60px;
      font-size: 1.5rem;
    }

    &::after {
      content: "";
      box-shadow: 0 0 0 4px #fc51848a;
      background-color: #ffe838;
      border-radius: 100%;
      left: -5.9rem;
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  &:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
}

@media screen and (max-width: 950px) {
  .timeline ul {
    margin: 0 auto;
    width: 85%;
  }

  .timeline .date::before {
    left: -12rem;
  }

  .timeline .date::after {
    left: -5.9rem;
  }
}

@media only screen and (max-width: 600px) {
  .timeline p {
    font-size: 1.6rem;
  }

  .timeline .date::before {
    left: -8rem;
  }

  .timeline .date::after {
    left: -2.9rem;
  }

  .timeline ul {
    float: right;
    padding: 2rem 0;
    width: 85%;
    margin-bottom: 10rem;
  }
}

@media only screen and (max-width: 320px) {
  .timeline .date::before {
    left: -8rem;
  }

  .timeline .date::after {
    left: -2.9rem;
  }

  .timeline ul {
    float: right;
    padding: 2rem 0;
    width: 80%;
    margin-bottom: 10rem;
  }
}
